<h1 class="text-center" style="margin-bottom: 6%;">Update User ID {{ userId }}</h1>
<div style="display: flex;">
    <div style="flex: 1; margin-right: 20px; width: 90%;">
        <div id="userForm" [ngClass]="disabled">
            <div style="display: flex; margin-bottom: 5px; align-items: center;">
                <div style="min-width: 25%; white-space: nowrap;"></div>
                <div style="width: 50%; margin-left:5%;">
                    <label for="currentName" style="font-size: 1.0em;">Current: <span style="font-weight: bold; font-size: 1.1em;">{{ user.name }}</span></label>
                </div>
            </div>
            <div style="display: flex; margin-bottom: 10px; align-items: center;">
                <div style="min-width: 25%; white-space: nowrap;">
                    <label for="name" style="font-weight: bold; font-size: 1.1em;">Name:</label>
                </div>
                <div style="width: 50%; margin-left:5%;">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" [ngModel]="userUpdated.name"
                        (ngModelChange)="userUpdated.name = $event" style="flex-grow: 1;">
                </div>
            </div>
            <div style="display: flex; margin-bottom: 5px; align-items: center;">
                <div style="min-width: 25%; white-space: nowrap;"></div>
                <div style="width: 50%; margin-left:5%;">
                    <label for="currentPassword" style="font-size: 1.0em;">Current: <span style="font-weight: bold; font-size: 1.1em;">{{ user.password }}</span></label>
                </div>
            </div>
            <div style="display: flex; margin-bottom: 10px; align-items: center;">
                <div style="min-width: 25%; white-space: nowrap;">
                    <label for="password" style="font-weight: bold; font-size: 1.1em;">Password:</label>
                </div>
                <div style="width: 50%; margin-left:5%;">
                    <input type="text" class="form-control" id="password" name="password" placeholder="Password" [ngModel]="userUpdated.password"
                        (ngModelChange)="userUpdated.password = $event" style="flex-grow: 1;">
                </div>
            </div>
            <div style="display: flex; margin-bottom: 5px; align-items: center;">
                <div style="min-width: 25%; white-space: nowrap;"></div>
                <div style="width: 50%; margin-left:5%;">
                    <label for="currentEmail" style="font-size: 1.0em;">Current: <span style="font-weight: bold; font-size: 1.1em;">{{ user.email }}</span></label>
                </div>
            </div>
            <div style="display: flex; margin-bottom: 10px; align-items: center;">
                <div style="min-width: 25%; white-space: nowrap;">
                    <label for="email" style="font-weight: bold; font-size: 1.1em;">Email:</label>
                </div>
                <div style="width: 50%; margin-left:5%;">
                    <input type="text" class="form-control" id="email" name="email" placeholder="Email" [ngModel]="userUpdated.email"
                        (ngModelChange)="userUpdated.email = $event" style="flex-grow: 1;">
                </div>
            </div>
            <div style="display: flex; margin-bottom: 5px; align-items: center;">
                <div style="min-width: 25%; white-space: nowrap;"></div>
                <div style="width: 50%; margin-left:5%;">
                    <label for="currentDepartment" style="font-size: 1.0em;">Current: <span style="font-weight: bold; font-size: 1.1em;">{{ user.department }}</span></label>
                </div>
            </div>
            <div style="display: flex; margin-bottom: 10px; align-items: center;">
                <div style="min-width: 25%; white-space: nowrap;">
                    <label for="department" style="font-weight: bold; font-size: 1.1em;">Department:</label>
                </div>
                <div style="width: 50%; margin-left:5%;">
                    <input type="text" class="form-control" id="department" name="department" placeholder="Department" [ngModel]="userUpdated.department"
                        (ngModelChange)="userUpdated.department = $event" style="flex-grow: 1;">
                </div>
            </div>
            <div style="display: flex; margin-bottom: 5px; align-items: center;">
                <div style="min-width: 25%; white-space: nowrap;"></div>
                <div style="width: 50%; margin-left:5%;">
                    <label for="currentRole" style="font-size: 1.0em;">Current: <span style="font-weight: bold; font-size: 1.1em;">{{ user.role }}</span></label>
                </div>
            </div>
            <div style="display: flex; margin-bottom: 10px; align-items: center;">
                <div style="min-width: 25%; white-space: nowrap;">
                    <label for="role" style="font-weight: bold; font-size: 1.1em;">Role:</label>
                </div>
                <div style="width: 50%; margin-left:5%;">
                    <input type="text" class="form-control" id="role" name="role" placeholder="Role" [ngModel]="userUpdated.role"
                        (ngModelChange)="userUpdated.role = $event" style="flex-grow: 1;">
                </div>
            </div>
            <div style="width: 25%; margin-left: 55%;" class="d-grid p-2">
                <button class="btn btn-primary btn-block" type="button" (click)="UpdateUser()"><span style="white-space: nowrap;">Update User</span></button>
                <div [ngClass]="load" style="text-align: center; margin-top: 10px;">
                    <strong>Working...</strong>
                </div>
            </div>
        </div>
    </div>

    <div style="flex: 0.8; border: 1px solid #ccc; padding: 25px; padding-left: 35px; height: 500px; overflow-y: auto; margin-bottom: 10%;">
        <div style="margin-bottom: 2%;">
            <strong style="font-size: 1.3em;">Output:</strong>
        </div>
        <div *ngIf="user.id !== undefined && user.id !== null" style="font-size: 1.1em; padding-left: 10px;">
            <strong>ID: </strong> <span style="font-size: 1.15em;">{{user.id}}</span><br>
            <strong>Name: </strong> <span style="font-size: 1.15em;">{{user.name}}</span><br>
            <strong>Password: </strong> <span style="font-size: 1.15em;">{{user.password}}</span><br>
            <strong>Email: </strong> <span style="font-size: 1.15em;">{{user.email}}</span><br>
            <strong>Department: </strong> <span style="font-size: 1.15em;">{{user.department}}</span><br>
            <strong>Role: </strong> <span style="font-size: 1.15em;">{{user.role}}</span><br>
        </div>
    </div>
</div>