<h1 class="text-center" style="margin-bottom: 6%;">Update Reservation ID {{ reservationId }}</h1>
<div style="display: flex;">
    <div style="flex: 1; margin-right: 20px; width: 90%;">
        <div id="reservationForm" [ngClass]="disabled">
            <div style="display: flex; margin-bottom: 5px; align-items: center;">
                <div style="min-width: 25%; white-space: nowrap;"></div>
                <div style="width: 50%; margin-left:5%;">
                    <label for="currentRoom" style="font-size: 1.0em;">Current: <span style="font-weight: bold; font-size: 1.1em;">{{ getRoomName(reservation.roomId) }}</span></label>
                </div>
            </div>
            <div style="display: flex; margin-bottom: 10px; align-items: center;">
                <div style="min-width: 25%; white-space: nowrap;">
                    <label for="roomId" style="font-weight: bold; font-size: 1.1em;">Room:</label>
                </div>
                <div style="width: 50%; margin-left:5%;">
                    <select class="form-select" id="roomId" name="roomId" [ngModel]="reservationUpdated.roomId" (ngModelChange)="reservationUpdated.roomId = $event; GetRoomAvailabilities(reservationUpdated.roomId); GetRoomReservations(reservationUpdated.roomId);" style="flex-grow: 1;">
                        <option *ngFor="let room of rooms" [value]="room.id">{{ room.name }}</option>
                    </select>
                </div>
            </div>
            <div style="display: flex; margin-bottom: 5px; align-items: center;">
                <div style="min-width: 25%; white-space: nowrap;"></div>
                <div style="width: 50%; margin-left:5%;">
                    <label for="currentStartTime" style="font-size: 1.0em;">Current: <span style="font-weight: bold; font-size: 1.1em;">{{ (reservation.startTime / 100).toFixed(2).replace('.', ':') }}</span></label>
                </div>
            </div>
            <div style="display: flex; margin-bottom: 10px; align-items: center;">
                <div style="min-width: 25%; white-space: nowrap;">
                    <label style="font-weight: bold; font-size: 1.1em;">Start Time:</label>
                </div>
                <div style="width: 50%; margin-left:5%;">
                    <timepicker id="startTime" name="startTime" [(ngModel)]="tempStartTime" (ngModelChange)="reservationUpdated.startTime = $event ? ($event.getHours() * 100 + $event.getMinutes()) : 0;
                    tempStartTime = $event;" [showMeridian]="false" [min]="minStartTime" [max]="maxStartTime"></timepicker>
                </div>
            </div>
            <div style="display: flex; margin-bottom: 5px; align-items: center;">
                <div style="min-width: 25%; white-space: nowrap;"></div>
                <div style="width: 50%; margin-left:5%;">
                    <label for="currentEndTime" style="font-size: 1.0em;">Current: <span style="font-weight: bold; font-size: 1.1em;">{{ (reservation.endTime / 100).toFixed(2).replace('.', ':') }}</span></label>
                </div>
            </div>
            <div style="display: flex; margin-bottom: 10px; align-items: center;">
                <div style="min-width: 25%; white-space: nowrap;">
                    <label style="font-weight: bold; font-size: 1.1em;">End Time:</label>
                </div>
                <div style="width: 50%; margin-left:5%;">
                    <timepicker id="endTime" name="endTime" [(ngModel)]="tempEndTime" (ngModelChange)="reservationUpdated.endTime = $event ? ($event.getHours() * 100 + $event.getMinutes()) : 0;
                    tempEndTime = $event;" [showMeridian]="false" [min]="minEndTime" [max]="maxEndTime"></timepicker>
                </div>
            </div>
            <div style="width: 25%; margin-left: 55%;" class="d-grid p-2">
                <button class="btn btn-primary btn-block" type="button" (click)="UpdateReservation()"><span style="white-space: nowrap;">Update Reservation</span></button>
                <div [ngClass]="load" style="text-align: center; margin-top: 10px;">
                    <strong>Working...</strong>
                </div>
            </div>
        </div>
    </div>

    <div style="flex: 1; margin-bottom: 2%;">
        <div style="border: 1px solid #ccc; padding: 15px; padding-left: 35px; height: 300px; overflow-y: auto; margin-bottom: 2%;">
            <div style="margin-bottom: 1%;">
                <strong style="font-size: 1.3em;">Room:</strong>
            </div>
            <div *ngIf="reservationUpdated.roomId !== undefined && reservationUpdated.roomId !== null" style="font-size: 1.1em; padding-left: 10px;">
                <strong>ID: </strong> <span style="font-size: 1.15em;">{{ reservationUpdated.roomId }}</span><br>
                <strong>Name: </strong><span style="font-size: 1.15em;">{{ getRoomName(reservationUpdated.roomId) }}</span><br>
                <strong *ngIf="roomAvailabilities.length <= 0">Not Available.<br></strong>
                <span *ngIf="roomAvailabilities.length > 0">
                <strong>Available: </strong>
                    <div *ngFor="let roomAvailability of roomAvailabilities;" style="font-size: 1.15em; padding-left: 20px;">
                        {{
                            (roomAvailability.day == 1 ? 'Monday' :
                            roomAvailability.day == 2 ? 'Tuesday' :
                            roomAvailability.day == 3 ? 'Wednesday' :
                            roomAvailability.day == 4 ? 'Thursday' :
                            roomAvailability.day == 5 ? 'Friday' :
                            roomAvailability.day == 6 ? 'Saturday' :
                            roomAvailability.day == 7 ? 'Sunday' :
                            '')
                            + " " + (roomAvailability.startTime / 100).toFixed(2).replace('.', ':') + "-"
                            + (roomAvailability.endTime / 100).toFixed(2).replace('.', ':')
                        }}
                    </div>
                </span>
                <span *ngIf="reservations.length > 0">
                    <strong>Reserved: </strong>
                        <div *ngFor="let reservation of reservations;" style="font-size: 1.15em; padding-left: 20px;">
                            <span *ngIf="reservation.isRecurring">
                            <span style="font-size: 0.90em">
                            {{
                                "(" + (reservation.startDate | date:'dd/MM/yyyy') + " - " +
                                (reservation.endDate | date:'dd/MM/yyyy') + ") "
                            }}
                            </span>
                            <strong>
                            {{
                                (reservation.day == 1 ? 'Monday' :
                                reservation.day == 2 ? 'Tuesday' :
                                reservation.day == 3 ? 'Wednesday' :
                                reservation.day == 4 ? 'Thursday' :
                                reservation.day == 5 ? 'Friday' :
                                reservation.day == 6 ? 'Saturday' :
                                reservation.day == 7 ? 'Sunday' :
                                '')
                                + " " + (reservation.startTime / 100).toFixed(2).replace('.', ':') + "-"
                                + (reservation.endTime / 100).toFixed(2).replace('.', ':')
                            }}
                            </strong>
                            </span>
                            <span *ngIf="!reservation.isRecurring">
                            <span style="font-size: 0.90em">
                            {{
                                "(" + (reservation.exactDate | date:'dd/MM/yyyy') + ") "
                            }}
                            </span>
                            <strong>
                            {{
                                (getDayNumber(reservation.exactDate) == 1 ? 'Monday' :
                                getDayNumber(reservation.exactDate) == 2 ? 'Tuesday' :
                                getDayNumber(reservation.exactDate) == 3 ? 'Wednesday' :
                                getDayNumber(reservation.exactDate) == 4 ? 'Thursday' :
                                getDayNumber(reservation.exactDate) == 5 ? 'Friday' :
                                getDayNumber(reservation.exactDate) == 6 ? 'Saturday' :
                                getDayNumber(reservation.exactDate) == 7 ? 'Sunday' :
                                '')
                                + " " + (reservation.startTime / 100).toFixed(2).replace('.', ':') + "-"
                                + (reservation.endTime / 100).toFixed(2).replace('.', ':')
                            }}
                            </strong>
                            </span>
                        </div>
                    </span>
            </div>
        </div>
        <div style="border: 1px solid #ccc; padding: 25px; padding-left: 35px; height: 370px; overflow-y: auto;">
            <div style="margin-bottom: 2%;">
                <strong style="font-size: 1.3em;">Output:</strong>
            </div>
            <div *ngIf="reservation.id !== undefined && reservation.id !== null" style="font-size: 1.1em; padding-left: 40px;">
                <strong>ID: </strong> <span style="font-size: 1.15em;">{{ reservation.id }}</span><br>
                <strong>Room ID: </strong> <span style="font-size: 1.15em;">{{ reservation.roomId }}</span><br>
                <strong>Entry Date: </strong> <span style="font-size: 1.15em;">{{ reservation.entryDate | date:'dd/MM/yyyy' }}</span><br>
                <strong>Is Recurring: </strong> <span style="font-size: 1.15em;">{{ reservation.isRecurring }}</span><br>
                <span *ngIf="reservation.isRecurring">
                    <strong>Start Date: </strong> <span style="font-size: 1.15em;">{{ reservation.startDate | date:'dd/MM/yyyy' }}</span><br>
                    <strong>End Date: </strong> <span style="font-size: 1.15em;">{{ reservation.endDate | date:'dd/MM/yyyy' }}</span><br>
                    <strong>Day: </strong> <span style="font-size: 1.15em;">{{
                        reservation.day == 1 ? 'Monday' :
                        reservation.day == 2 ? 'Tuesday' :
                        reservation.day == 3 ? 'Wednesday' :
                        reservation.day == 4 ? 'Thursday' :
                        reservation.day == 5 ? 'Friday' :
                        reservation.day == 6 ? 'Saturday' :
                        reservation.day == 7 ? 'Sunday' :
                        ''
                    }}</span><br>
                </span>
                <span *ngIf="!reservation.isRecurring">
                    <strong>Exact Date: </strong><span style="font-size: 1.15em;">{{ reservation.exactDate | date:'dd/MM/yyyy' }}</span><br>
                </span>
                <strong>Start Time: </strong> <span style="font-size: 1.15em;">{{ (reservation.startTime / 100).toFixed(2).replace('.', ':') }}</span><br>
                <strong>End Time: </strong> <span style="font-size: 1.15em;">{{ (reservation.endTime / 100).toFixed(2).replace('.', ':') }}</span><br>
            </div>
        </div>
    </div>
</div>