<h1 class="text-center" style="margin-bottom: 6%;">Get Lecture ID {{ lectureId }}</h1>
<div style="display: flex; justify-content: center; align-items: center;">
    <div style="width:60%; border: 1px solid #ccc; padding: 25px; padding-left: 35px; height: 500px; overflow-y: auto; margin-bottom: 2%;">
      <div style="margin-bottom: 3%;">
        <strong style="font-size: 1.3em;">Output:</strong>
        </div>
        <div *ngIf="lecture.id !== undefined && lecture.id !== null" style="font-size: 1.1em; padding-left: 40px;">
            <strong>ID: </strong> <span style="font-size: 1.15em;">{{lecture.id}}</span><br>
            <strong>Type: </strong> <span style="font-size: 1.15em;">{{lecture.type}}</span><br>
            <strong>Course ID: </strong> <span style="font-size: 1.15em;">{{lecture.courseId}}</span><br>
            <strong>Course Name: </strong> <span style="font-size: 1.15em;">{{lecture.courseName}}</span><br>
            <strong>Semester: </strong> <span style="font-size: 1.15em;">{{lecture.semester}}</span><br>
            <strong>Department: </strong> <span style="font-size: 1.15em;">{{lecture.department}}</span><br>
            <strong>Total Hours: </strong> <span style="font-size: 1.15em;">{{lecture.totalHours}}</span><br>
            <span *ngIf="teachers.length > 0">
            <strong>Teachers: </strong> <div *ngFor="let teacher of teachers;" style="font-size: 1.15em; padding-left: 20px;">
                {{teacher.name}}<br>
            </div></span>
        </div>
    </div>
</div>  
<div style="width: 20%; margin-left: 35%; margin-bottom: 6%;" class="d-flex p-2 justify-content-between">
    <button class="btn btn-primary btn-lg" style="margin-right: 25%;" type="button" (click)="UpdateLecture();"><span style="white-space: nowrap;">Update Lecture</span></button>
    <button class="btn btn btn-danger btn-lg" type="button" (click)="DeleteLecture();"><span style="white-space: nowrap;">Delete Lecture</span></button>
</div>
