<div class="row">
    <div class="col-md-12">
    </div>
</div>
<hr />
<div class="row" style="margin-bottom: 15%;">
    <h2 style="padding-left: 36%; padding-top: 5%;">University of the Aegean</h2>
    <span style="padding-left: 29%; font-size:1.6em;"><br>Project: 3-Tier Classroom Management System</span>
    <span style="padding-left: 38%; font-size:1.45em;">Kyriakos Adam - icsd20002<span>
    <br><br><br><br><img src="./assets/ship-icon.png" alt="University of the Aegean Logo" style="width: 200px; height: auto; opacity:0.5;"></span></span>

</div>