<h1 class="text-center" style="margin-bottom: 6%;">Update Lecture ID {{ lectureId }}</h1>
<div style="display: flex;">
    <div style="flex: 1; margin-right: 20px; width: 90%;">
        <div id="lectureForm" [ngClass]="disabled">
            <div style="display: flex; margin-bottom: 5px; align-items: center;">
                <div style="min-width: 25%; white-space: nowrap;"></div>
                <div style="width: 50%; margin-left:5%;">
                    <label for="currentType" style="font-size: 1.0em;">Current: <span style="font-weight: bold; font-size: 1.1em;">{{ lecture.type}}</span></label>
                </div>
            </div>
            <div style="display: flex; margin-bottom: 10px; align-items: center;">
                <div style="min-width: 25%; white-space: nowrap;">
                    <label for="type" style="font-weight: bold; font-size: 1.1em;">Type:</label>
                </div>
                <div style="width: 50%; margin-left:5%;">
                    <select class="form-select" id="type" name="type" [ngModel]="lectureUpdated.type" (ngModelChange)="lectureUpdated.type = $event" style="flex-grow: 1;">
                        <option value="Theory">Theory</option>
                        <option value="Laboratory">Laboratory</option>
                    </select>
                </div>
            </div>
            <div style="display: flex; margin-bottom: 5px; align-items: center;">
                <div style="min-width: 25%; white-space: nowrap;"></div>
                <div style="width: 50%; margin-left:5%;">
                    <label for="currentCourseId" style="font-size: 1.0em;">Current: <span style="font-weight: bold; font-size: 1.1em;">{{ lecture.courseId }}</span></label>
                </div>
            </div>
            <div style="display: flex; margin-bottom: 10px; align-items: center;">
                <div style="min-width: 25%; white-space: nowrap;">
                    <label for="courseId" style="font-weight: bold; font-size: 1.1em;">Course ID:</label>
                </div>
                <div style="width: 50%; margin-left:5%;">
                    <input type="number" class="form-control" id="courseId" name="courseId" placeholder="Course ID" [ngModel]="lectureUpdated.courseId"
                        (ngModelChange)="lectureUpdated.courseId = $event" style="flex-grow: 1;" min="0" max="10000">
                </div>
            </div>
            <div style="display: flex; margin-bottom: 5px; align-items: center;">
                <div style="min-width: 25%; white-space: nowrap;"></div>
                <div style="width: 50%; margin-left:5%;">
                    <label for="currentCourseName" style="font-size: 1.0em;">Current: <span style="font-weight: bold; font-size: 1.1em;">{{ lecture.courseName }}</span></label>
                </div>
            </div>
            <div style="display: flex; margin-bottom: 10px; align-items: center;">
                <div style="min-width: 25%; white-space: nowrap;">
                    <label for="courseName" style="font-weight: bold; font-size: 1.1em;">Course Name:</label>
                </div>
                <div style="width: 50%; margin-left:5%;">
                    <input type="text" class="form-control" id="courseName" name="courseName" placeholder="Course Name" [ngModel]="lectureUpdated.courseName"
                        (ngModelChange)="lectureUpdated.courseName = $event" style="flex-grow: 1;">
                </div>
            </div>
            <div style="display: flex; margin-bottom: 5px; align-items: center;">
                <div style="min-width: 25%; white-space: nowrap;"></div>
                <div style="width: 50%; margin-left:5%;">
                    <label for="currentSemester" style="font-size: 1.0em;">Current: <span style="font-weight: bold; font-size: 1.1em;">{{ lecture.semester }}</span></label>
                </div>
            </div>
            <div style="display: flex; margin-bottom: 10px; align-items: center;">
                <div style="min-width: 25%; white-space: nowrap;">
                    <label for="semester" style="font-weight: bold; font-size: 1.1em;">Semester:</label>
                </div>
                <div style="width: 50%; margin-left:5%;">
                    <input type="number" class="form-control" id="semester" name="semester" placeholder="Semester" [ngModel]="lectureUpdated.semester"
                        (ngModelChange)="lectureUpdated.semester = $event" style="flex-grow: 1;" min="1" max="10">
                </div>
            </div>
            <div style="display: flex; margin-bottom: 5px; align-items: center;">
                <div style="min-width: 25%; white-space: nowrap;"></div>
                <div style="width: 50%; margin-left:5%;">
                    <label for="currentDepartment" style="font-size: 1.0em;">Current: <span style="font-weight: bold; font-size: 1.1em;">{{ lecture.department }}</span></label>
                </div>
            </div>
            <div style="display: flex; margin-bottom: 10px; align-items: center;">
                <div style="min-width: 25%; white-space: nowrap;">
                    <label for="department" style="font-weight: bold; font-size: 1.1em;">Department:</label>
                </div>
                <div style="width: 50%; margin-left:5%;">
                    <input type="text" class="form-control" id="department" name="department" placeholder="Department" [ngModel]="lectureUpdated.department"
                        (ngModelChange)="lectureUpdated.department = $event" style="flex-grow: 1;">
                </div>
            </div>
            <div style="display: flex; margin-bottom: 5px; align-items: center;">
                <div style="min-width: 25%; white-space: nowrap;"></div>
                <div style="width: 50%; margin-left:5%;">
                    <label for="currentTotalHours" style="font-size: 1.0em;">Current: <span style="font-weight: bold; font-size: 1.1em;">{{ lecture.totalHours }}</span></label>
                </div>
            </div>
            <div style="display: flex; margin-bottom: 10px; align-items: center;">
                <div style="min-width: 25%; white-space: nowrap;">
                    <label for="totalHours" style="font-weight: bold; font-size: 1.1em;">Total Hours:</label>
                </div>
                <div style="width: 50%; margin-left:5%;">
                    <input type="number" class="form-control" id="totalHours" name="totalHours" placeholder="Total Hours" [ngModel]="lectureUpdated.totalHours"
                        (ngModelChange)="lectureUpdated.totalHours = $event" style="flex-grow: 1;" min="1" max="1000">
                </div>
            </div>
            <div style="width: 25%; margin-left: 55%;" class="d-grid p-2">
                <button class="btn btn-primary btn-block" type="button" (click)="UpdateLecture()"><span style="white-space: nowrap;">Update Lecture</span></button>
                <div [ngClass]="load" style="text-align: center; margin-top: 10px;">
                    <strong>Working...</strong>
                </div>
            </div>
        </div>
    </div>

    <div style="flex: 0.8; border: 1px solid #ccc; padding: 25px; padding-left: 35px; height: 500px; overflow-y: auto; margin-bottom: 10%;">
        <div style="margin-bottom: 2%;">
            <strong style="font-size: 1.3em;">Output:</strong>
        </div>
        <div *ngIf="lecture.id !== undefined && lecture.id !== null" style="font-size: 1.1em; padding-left: 10px;">
            <strong>ID: </strong> <span style="font-size: 1.15em;">{{lecture.id}}</span><br>
            <strong>Type: </strong> <span style="font-size: 1.15em;">{{lecture.type}}</span><br>
            <strong>Course ID: </strong> <span style="font-size: 1.15em;">{{lecture.courseId}}</span><br>
            <strong>Course Name: </strong> <span style="font-size: 1.15em;">{{lecture.courseName}}</span><br>
            <strong>Semester: </strong> <span style="font-size: 1.15em;">{{lecture.semester}}</span><br>
            <strong>Department: </strong> <span style="font-size: 1.15em;">{{lecture.department}}</span><br>
            <strong>Total Hours: </strong> <span style="font-size: 1.15em;">{{lecture.totalHours}}</span><br>
        </div>
    </div>
</div>